<?xml version="1.0"?>
<ruleset name="cakephp-tokens">
    <arg value="p"/>
    <file>.</file>

    <rule ref="./vendor/mirko-pagliai/php-tools/sniffer-ruleset.xml"/>

    <exclude-pattern>/config/Migrations</exclude-pattern>
</ruleset>
